<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Supersite</title>
        <! -- donne l'adresse vers la feuille de style, elle est dans le repertoire static et se nomme main.css -->
        <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    
    <body>
        <h1 > Page perso de {{name}}</h1>

        <! -- lien vers la page qui appelle la fonction index -->
    <a href="{{ url_for('index') }}"> retourner à la page d'accueil </a>
    </body>
</html>